.title{
	height: 41px;
	line-height: 41px;
	margin-bottom: 10px;
	color: white;
	background-color: rgb(40,81,144);
	min-width: 930px;
	border-bottom: 1px solid rgb(40,81,144);
}
 .title span{
	cursor: pointer;
	font-size: 14px;
}
.title img{
	cursor: pointer;
	margin: 0 10px;
}
.title:not(.title-first){
	background-color: rgb(242,244,248);
	color: black;
}
.formDataDiv:not(.formDataDiv-first){
	display: none;
}