* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	font-size: 14px;
}

a {
	text-decoration: none;
}

.enter-body {
	position: relative;
	background: url(../images/1-login-bg.jpg);
	background-size: cover;
	background-position: center top;
}

.enter {
	width: 450px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -225px;
	margin-top: -175px;
	border: 1px solid rgb(199, 199, 199);
	background-color: white;
	box-shadow: 0 1px 2px #ddd;
}

#logo {
	height: 60px;
}

#logo img{
	width: 100%;
	height: 100%;
}

.enter .d1 input[type="radio"]{
	width: 15px;
	height: 15px;
	position: relative;
	top: 3px;
}
.enter nav {
	width: 100%;
	position: relative;
	/*color: rgb(65, 65, 65);*/
}

.enter nav>div{
	margin: 0 auto;
}

.enter nav .s1 {
	color: rgb(180, 180, 180);
}
.enter .d1{
	width: 255px;
	margin: 35px 0 15px 58px;
}

.enter #fare-user,.enter #curry-user {
	margin-left: 20px;
}

.enter .d2,.enter .d3{
	width: 338px;
	position: relative;
	margin-bottom: 15px;
}

.enter .s2,
.enter .s3 {
	display: inline-block;
	width: 29px;
	height: 29px;
	position: absolute;
	top: 8px;
	left: 13px;
}

.enter .s2 {
	background: url(../images/name.png) no-repeat;
}

.enter .s3 {
	background: url(../images/password.png) no-repeat;
}

.enter .username,
.enter .password {
	width: 280px;
	height: 42px;
	outline: none;
	border-radius: 4px;
	border: 1px solid #DDDDDD;
	padding-left: 55px;
	background-color: rgb(250, 251, 252);
}

.enter #sub-res {
	height: 80px;
	width: 100%;
	margin-top: 15px;
	border-top: 1px solid #ddd;
	background-color: rgb(245, 247, 249);
}

.enter #sub-res>div {
	width: 440px;
	margin: 0 auto;
	margin-top: 20px;

}

.enter #sub-res button {
	border: none;
	outline: none;
	width: 110px;
	height: 40px;
	border-radius: 3px;
	border: none;
	cursor: pointer;
	font-weight: bold;
}

.enter .sub {
	background-color: rgb(98, 172, 112);
	color: white;
	margin-left: 40px;
}

.enter .res {
	background-color: rgb(73, 173, 202);
	color: white;
	margin-left: 15px;
}

.enter #sub-res a {
	display: inline-block;
	color: rgb(97, 105, 118);
	margin-left: 40px;
}

.enter #sub-res span {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url(../images/help.png);
	position: relative;
	top: 8px;
	right: 5px;
}

.enter-body footer {
	width: 100%;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	background: rgb(246,247,249);
	color: rgb(159, 159, 159);
	position: absolute;
	bottom: 0;
}

.errorMsg{
	width: 100%;
	text-align: center;
	position: absolute;
}

.enter-tj li{
	list-style: initial;
	color: red;
	margin-left: 75px;
}
