.index .infor {
	display: inline-block;
}

.index>div>div {
	height: 50px;
	line-height: 50px;
	margin-top: 20px;
	background-color: rgb(250, 251, 252);
	border: 1px solid rgb(215, 220, 225);
}

.index>div>div>span {
	display: inline-block;
	width: 27px;
	height: 27px;
	background: url(../images/notice.png) no-repeat;
	position: relative;
	top: 7px;
	left: 25px;
	margin-right: 40px;
}
.index .art-bg nav {
	margin-top: 100px;
	display: flex;
	justify-content: center;
}
.art-bg>*{
	min-width: 860px;
	margin: 0 auto;
}
.index nav h3 {
	font-size: 30px;
	line-height: 55px;
}
.index nav p {
	font-size: 12px;
	line-height: 22px;
}
.index nav div:last-child {
	margin-left: 20px;
	margin-top: 105px;
}

.index footer {
	position: fixed;
	bottom: 0;
	background-color: rgb(245, 247, 249);
	color: rgb(159, 159, 159);
	width: 100%;
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	text-align: center;
}