.inputW700{
	width:700px !important; border:1px solid #ddd;
}
.inputW500{
	width:500px !important; border:1px solid #ddd;
}
.inputW300{
	width:300px !important; border:1px solid #ddd;
}
.inputW180{
	width:180px !important; border:1px solid #ddd;
}
.inputW150{
	width:150px !important; border:1px solid #ddd;
}
.inputW120{
	width:120px !important; border:1px solid #ddd;
}
.inputW100{
	width:100px !important; border:1px solid #ddd;
}
.inputW70{
	width:70px !important; border:1px solid #ddd;
}
.inputW60{
	width:60px !important; border:1px solid #ddd;
}
.inputW40{
	width:40px !important; border:1px solid #ddd;
}
.input-bottom3{
	margin-bottom: 3px;
}
.input-top3{
	margin-top: 3px;
}
.input-bottom5{
	margin-bottom: 5px;
}
.input-top5{
	margin-top: 5px;
}
input[type="button"],
input[type="submit"],
input[type="reset"]{
	outline: none;
	cursor: pointer;
}
input[type="text"]{
	text-indent: 6px
}
input[type="checkbox"],
input[type="radio"]{
	width: 15px;
	height: 15px;
	position: relative;
	top: 3px;
}
input.inp-read{
	color: #9D9D9D;
	cursor: not-allowed;
}
h3,h4{
	font-size: 14px;
}
textarea{
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	text-indent: 5px;
}

/*转换大写*/
.to-uppercase{
	text-transform: uppercase;
}
.bg-right {
	height: 100%;
	width: 2px;
	background-color: rgb(40, 81, 144);
	position: fixed;
	z-index: 111;
	top: 0;
	right: 0;
}
.back-home,.back-art,label{
	cursor: pointer;
}
/*头部固定*/
.art-head{
	width: 100%;
	position: fixed;
	z-index: 99;
	font-size: 14px;
	height: 35px;
	top: 0;
	background: -webkit-linear-gradient(top,rgb(236,239,243),rgb(217,221,230)) !important;
	background: -moz-linear-gradient(top,rgb(236,239,243),rgb(217,221,230)) !important;
	background: -o-linear-gradient(top,rgb(236,239,243),rgb(217,221,230)) !important;
	background: -ms-linear-gradient(top,rgb(236,239,243),rgb(217,221,230)) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType = top, startColorstr = #dbddf2, endColorstr = #d9dde6);  
}
.art-head>div{
	width: 96%;
	margin: 0 auto;
}
article{
	width: 100%;
	font-size: 14px;
	/*overflow-x: auto;*/
	margin-bottom: 20px;
}
article>*{
	width: 96%;
	/*min-width: 1000px;*/
	min-width: 996px;
	margin: 0 auto;
	
}
.art-head>div{
	width: 96%;
	margin: 0 auto;
	line-height: 35px;
}

/*通用按钮设置*/
/*确认，提交,保存*/
.btn-sure{
	border: 1px solid #4CA15B;
	background: linear-gradient(180deg,#6ab078,#4ca15b);
	/*兼容IE*/
	/*background: -ms-linear-gradient(top,#6ab078,#4ca15b);*/
}
/*关闭，返回*/
.btn-off{
	border: 1px solid #3aa0bd;
	background: linear-gradient(180deg,#55b7d4,#3aa0bd);
}
/*重置*/
.btn-res{
	border: 1px solid #496fac;
	background: linear-gradient(180deg,#4f77b7,#496fac);
}
/*添加,增加*/
.btn-tian{
	border: 1px solid #51a293;
	background: linear-gradient(180deg,#67c8b7,#4f9f90);
}
/*传送*/
.btn-send{
	border: 1px solid #798697;
	background: #8D9BAF;
}
/*暂停*/
.btn-pause{
	border: 1px solid #bd903a;
	background: linear-gradient(180deg,#dba745,#bd903a);
}
/*批准,编辑*/
.btn-approve{
	border: 1px solid #008DB8;
	background: linear-gradient(180deg,#019fd2,#008db8);
}
/*拒绝。删除*/
.btn-refuse{
	border: 1px solid #da5666;
	background: linear-gradient(180deg,#e26d7b,#da5666);
}
/*退回*/
.btn-exback{
	border: 1px solid #c65e2b;
	background: linear-gradient(180deg,#dd6c33,#c65e2b);
}
/*导出*/
.btn-export{
	border: 1px solid #c7c395;
	background: linear-gradient(180deg,#c7c395,#a7a378);
}
select,input{
	border-radius: 3px;
}
select{
	height: 22px;
	box-sizing: content-box;
	border: 1px solid #DDDDDD;
}
/*按钮*/
.btn-sure,
.btn-off,
.btn-res,
.dis_btn,
.btn-tian,
.btn-send,
.btn-pause,
.btn-approve,
.btn-refuse,
.btn-exback,
.btn-export{
	width: 100px;
	border-radius: 3px;
	color: white;
	font-size: 14px;
	border: 1px solid #496fac !important;
	background: -webkit-linear-gradient(top,#4f77b7,#496fac) !important;
	background: -moz-linear-gradient(top,#4f77b7,#496fac) !important;
	background: -o-linear-gradient(top,#4f77b7,#496fac) !important;
	background: -ms-linear-gradient(top,#4f77b7,#496fac) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType = top, startColorstr = #4f77b7, endColorstr = #496fac);   
}
/*禁用设置*/
.not-allowed{
	cursor: not-allowed;
	color: #9D9D9D !important;
	border: 1px solid #9D9D9D !important;
}
/*关闭按钮X*/
.span-off{
	float: right;
	width: 12px;
	height: 12px;
	background-image: url(../images/delete.png);
	position: relative;
	top: 15px;
	right: 18px;
	cursor: pointer;
}
input[type="text"]{
	height: 22px;
	border: 1px solid #ddd;
}

/*弹窗*/
.pop-bg,
.pop-bg1{
	display: none;
	position: fixed;
	opacity: 0.5;
	background: black;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.new-iframe,
.new-iframe1{
	display: none;
	border: none;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 100;
	background: white;
}
.new-pop2,
.new-pop3{
	top: 2.5%;
	left: 2.5%;
}
/*底部按钮设置*/
div.pop-btn{
	width: 100%;
	position: fixed;
	bottom: 0;
	border-top: 1px solid #ddd;
	padding: 15px 0;
	background: white;
	z-index: 999;
}
.pop-btn>div{
	display: flex;
	justify-content: center;
}
.pop-btn>div input{
	margin-right: 15px;
	cursor: pointer;
}
/*表格通用设置*/
table{
	font-size: 14px;
	border: none;
	width: 100%;
	border: none;
	border-collapse: collapse;
}
table tr>*{
	border: 1px solid #DDDDDD;
}
table tbody{
	width: 100%;
}
table tr{
	height: 40px;
}
.td-padding5{
	box-sizing: border-box;
	padding: 5px;
}
.table-bg{
	background: rgb(250,251,252);
	width: 8%;
	text-align: center;
	/*不换行*/
	white-space: nowrap;
}
.table-oth{
	width: 25%;
	padding-left: 10px;
}

.skip a{
	color: black;
}


/*小按钮样式*/
.operate_btn[type="button"]{
	border: 1px solid #ddd;
	outline: none;
	padding: 1px 9px;
	color: #666;
	background: rgb(213,221,223);
	margin: 0 5px;
}


/*表格滚动条*/
.table-scroll{
	overflow: auto;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	box-sizing: border-box;
}
/*文本框*/
table .textarea{
	height: 70px;
}
table .textarea td span{
	display: block;
	margin-left: 10px;
}
.textarea td{
	padding-left: 0 !important;
}
.textarea textarea{
	display: block;
	width: 98%;
	margin: 0 auto;
	margin-top: 5px;
	height: 45px;
	border-radius: 3px;
	border: 1px solid #ddd;
	text-indent: 5px;
}


/*提示框pop11,12*/
fieldset{
	box-sizing: border-box;
	padding: 10px;
	border: 1px solid #999;
}
legend{
	color: #06c;
	font-size: 14px;
}
/*按钮设置*/
.optionPrice input[type=button]{
	display: block;
	margin: 0 auto;
	margin-top: 10px;
}
/*日历*/
.tr-bg input[type="text"]{
	background-image: url(../images/calendar.png);
	background-repeat: no-repeat;
	background-position: 97% 3px;
	border: 1px solid #DDDDDD !important;
}
/*浮动事件*/
.td_nobr{
	cursor: pointer;
	width: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0 auto;
}
.td_nobr_30{
	width: 30px;
}
.td_nobr_100{
	width: 100px;
}
#prompt-message{
	display: none;
	border: 1px solid #DDDDDD;
	position: absolute;
	z-index: 1000;
	background: white;
	box-sizing: border-box;
	padding: 5px;
	box-shadow: 1px 1px 1px #DDDDDD;
}
.title span{
	font-size: 14px;
}

/*表格table纵向滚动*/
.cont-litab>div{
	max-height: 350px;
	border: 1px solid #DDDDDD;
	overflow: auto;
}
.deleteElement{
	cursor: pointer;
}