.cont{
	padding-top: 40px;
	margin-bottom: 90px;
}

h4{
	height: 42px;
	line-height: 42px;
	margin-bottom: 10px;
	color: white;
	background-color: rgb(40,81,144);
	min-width: 930px;
}

.h4-bg1{
	width: 12px;
	height: 12px;
	margin-left: 10px;
	margin-right: 10px;
	background-image: url(../images/Untitled2.png);
}
.cont>*{
	width: 97%;
	margin: 0 auto;
	margin-top: 10px;
}
.h4-bg{
	position: relative;
	width: 30px;
	height: 30px;
	cursor: pointer;
	float: right;
	
}
.h4-bg2{
	background-image: url(../images/span-substact.png);
	top: 6px;
	right: 20px;
}
.h4-bg3{
	background-image: url(../images/span-add.png);
	top: 6px;
	left: -9px;
}
h4 p{
	display: inline-block;
	float: right;
	position: relative;
	right: 50px;
	
}
/*non_mormal表格通用设置*/

.table_normal tr>*{
	white-space: nowrap;
}
.table_normal tr td{
	padding-left: 10px;
}
.table_normal th{
	background: rgb(250,251,252);
}

h4 .button{
	width: 100%;
	height: 100%;
	background: none;
	border: none;
}

.red{
	color: red;
}
.font_gray{
	color: #9D9D9D;
}
.pop-btn input.btn-prev{
	border: none;
	outline: none;
	padding: 0 6px;
	background: rgb(140,155,174);
	color: white;
}
/*pop里的新增*/
.cont h4.h4bg{
	background: linear-gradient(180deg,rgb(250,251,252),rgb(245,250,255));
}
.cont h4 .btn-add{
	float: right;
	width: 66px;
	line-height: 30px;
	border-radius: 3px;
	border: 1px solid rgb(190,200,216);
	background-color: rgb(242,245,249);
	margin: 5px 10px;
	font-size: 14px;
}
.cont h4 .btn-add span{
	display: inline-block;
	width: 10px;
	height: 10px;
	background-image: url(../images/add.png);
	position: relative;
	top: -1px;
}
.cont>*{
	min-width: 930px;
}
#failMessage{
	height: 16px;
	line-height: 16px;
}
