#content{
	width: 97%;
	margin: 0 auto;
	padding-top: 20px;
	margin-bottom: 90px;
}
#content>*{
	width: 100%;
}
#content table{
	text-align: center;
}
td:nth-child(2n){
	text-align: left;
	padding-left: 10px;
}
td:nth-child(2n+1){
	width: 15%;
	/*background: rgb(250,251,252);*/
}
/*头部*/
#head{
	height: 40px;
	line-height: 40px;
	text-indent: 10px;
	background: rgb(237,240,245);
	margin-bottom: 10px;
	overflow: hidden;
}
#head span{
	font-size: 14px;
}
#head input[type=button]{
	width: 65px;
	height: 30px;
}
.head-btn{
	float: right;
	margin-right: 8px;
}
/*表格*/
.contentView table{
	margin-bottom: 10px;
}
.contentView table a{
	display: inline-block;
}

.td-pad>*{
	margin: 0 3px;
}
/*文本设置*/
.tarea{
	height: 80px;
}
.tarea textarea{
	height: 70px;
	margin-top: 3px;
	width: 45%;
}
/*rule-2 图片设置*/
.tab-detelimit td img{
	position: relative;
	top: 3px;
}
/*等分情况*/
.tab-average table td:nth-child(2n){
	text-align: center;
	padding-left: 0px;
}
/*CAT3季节等分*/
.tab-average table .W-25>*{
	width: 25%;
}
.tab-average table .W-33>*{
	width: 33%;
}

/*首页头部*/
.rule-homeHead{
	margin-bottom: 30px;
	text-align: center;
	font-size: 16px;
}
/*规则*/
.title-all div{
	height: 40px;
	line-height: 40px;
	text-indent: 16px;
}
.title-all div:nth-child(2n+1){
	background: rgb(211,223,242);
}
