<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airline.account.mapper.et.AuditorTaxMapper">

    <insert id="insertTax">
        insert into ET_AUDITOR_COUPON_TAX
        (
        DOCUMENT_CARRIER_IATA_NO,
        DOCUMENT_NO,
        DOCUMENT_TYPE,
        ISSUE_DATE,
        TAX_CODE,
        TAX_SEQ_NO,
        TAX_ALREADY_PAID_FLAG,
        TAX_AMOUNT,
        TAX_CURRENCY,
        TAX_ALLOCATION_INDICATOR,
        INVALID_TAX_FLAG
        )
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT
            #{item.documentCarrierIataNo, jdbcType=VARCHAR},
            #{item.documentNo, jdbcType=VARCHAR},
            #{item.documentType, jdbcType=VARCHAR},

            to_date(#{item.issueDate, jdbcType=DATE}, 'yyyyMMdd'),
            #{item.taxCode, jdbcType=VARCHAR},
            #{item.taxSeqNo, jdbcType=DECIMAL},
            #{item.taxAlreadyPaidFlag, jdbcType=VARCHAR},
            #{item.taxAmount, jdbcType=DECIMAL},
            #{item.taxCurrency, jdbcType=VARCHAR},
            #{item.taxAllocationIndicator, jdbcType=VARCHAR},
            #{item.invalidTaxFlag, jdbcType=VARCHAR}
            FROM DUAL
        </foreach>
    </insert>
</mapper>