<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airline.account.mapper.et.AuditorTicketMapper">

    <insert id="insertTicket">
        insert into AUDITOR_OFFICIAL_TICKETING
        (
        DOCUMENT_CARRIER_IATA_NO,
        DOCUMENT_NO,
        DOCUMENT_TYPE,
        ISSUE_DATE,
        AGENT_IATA_NO,
        TRANSACTION_CODE,
        COUPON_USE_INDICATOR,
        CONJUNCTION_TICKET_INDICATOR,
        CONJUNCTION_TICKET_STRING,
        CNJ_CURRENT,
        CNJ_TOTAL,
        FIRST_TICKET_NO,
        TOUR_CODE,
        INTERNATIONAL_SALE_INDICATOR,
        COMMISSION_RATE,
        COMMISSION_AMOUNT,
        ORIGINAL_ISSUE_DOCUMENT_NO,
        ORIGINAL_ISSUE_DATE,
        ENDORSEMENT_RESTRICTION,
        FARE,
        FARE_CURRENCY_CODE,
        EQUIVALENT_FARE_PAID,
        EQUIVALENT_FARE_CURRENCY_CODE,
        TOTAL_FARE,
        TOTAL_FARE_CURRENCY,
        PASSENGER_NAME,
        TICKET_SOURCE,
        OFFICE_ID,
        NATION_FLAG,
        GDS_CD,
        CREATE_DATE,
        PRORATED_FLAG,
        PRORATED_DATE,
        EXCEPTION_FLAG,
        MANUAL_OPERATION_FLAG,
        IT_FLAG,
        UPDATE_DATE,
        UPDATE_ID,
        FARE_CALCULATION_AREA,
        FF_NO,
        PAX_TYPE,
        PAX_QTY
        )
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT
            #{item.documentCarrierIataNo, jdbcType=VARCHAR},
            #{item.documentNo, jdbcType=VARCHAR},
            #{item.documentType, jdbcType=VARCHAR},
            to_date(#{item.issueDate, jdbcType=DATE}, 'yyyyMMdd'),
            #{item.agentIataNo, jdbcType=DECIMAL},
            #{item.transactionCode, jdbcType=VARCHAR},
            #{item.couponUseIndicator, jdbcType=VARCHAR},
            #{item.conjunctionTicketIndicator, jdbcType=VARCHAR},
            #{item.conjunctionTicketString, jdbcType=VARCHAR},
            #{item.cnjCurrent, jdbcType=DECIMAL},
            #{item.cnjTotal, jdbcType=DECIMAL},
            #{item.firstTicketNo, jdbcType=VARCHAR},
            #{item.tourCode, jdbcType=VARCHAR},
            #{item.internationalSaleIndicator, jdbcType=VARCHAR},
            #{item.commissionRate, jdbcType=DECIMAL},
            #{item.commissionAmount, jdbcType=DECIMAL},
            #{item.originalIssueDocumentNo, jdbcType=VARCHAR},
            #{item.originalIssueDate, jdbcType=DATE},
            #{item.endorsementRestriction, jdbcType=VARCHAR},
            #{item.fare, jdbcType=DECIMAL},
            #{item.fareCurrencyCode, jdbcType=VARCHAR},
            #{item.equivalentFarePaid, jdbcType=DECIMAL},
            #{item.equivalentFareCurrencyCode, jdbcType=VARCHAR},
            #{item.totalFare, jdbcType=DECIMAL},
            #{item.totalFareCurrency, jdbcType=VARCHAR},
            #{item.passengerName, jdbcType=VARCHAR},
            #{item.ticketSource, jdbcType=VARCHAR},
            #{item.officeId, jdbcType=VARCHAR},
            #{item.nationFlag, jdbcType=VARCHAR},
            #{item.gdsCd, jdbcType=VARCHAR},
            #{item.createDate, jdbcType=DATE},
            #{item.proratedFlag, jdbcType=VARCHAR},
            #{item.proratedDate, jdbcType=DATE},
            #{item.exceptionFlag, jdbcType=VARCHAR},
            #{item.manualOperationFlag, jdbcType=VARCHAR},
            #{item.itFlag, jdbcType=VARCHAR},
            #{item.updateDate, jdbcType=DATE},
            #{item.updateId, jdbcType=DECIMAL},
            #{item.fareCalculationArea, jdbcType=VARCHAR},
            #{item.ffNo, jdbcType=VARCHAR},
            #{item.paxType, jdbcType=VARCHAR},
            #{item.paxQty, jdbcType=DECIMAL}
            FROM dual
        </foreach>
    </insert>
</mapper>