<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.airline.account.mapper.et.AuditorTicketMapper">

    <insert id="insertTicket" parameterType="com.airline.account.model.et.Ticket">
        insert into AUDITOR_OFFICIAL_TICKETING
        (
        DOCUMENT_CARRIER_IATA_NO,
        DOCUMENT_NO,
        DOCUMENT_TYPE,
        ISSUE_DATE,
        AGENT_IATA_NO,
        TRANSACTION_CODE,
        COUPON_USE_INDICATOR,
        CONJUNCTION_TICKET_INDICATOR,
        CONJUNCTION_TICKET_STRING,
        CNJ_CURRENT,
        CNJ_TOTAL,
        FIRST_TICKET_NO,
        TOUR_CODE,
        INTERNATIONAL_SALE_INDICATOR,
        COMMISSION_RATE,
        COMMISSION_AMOUNT,
        ORIGINAL_ISSUE_DOCUMENT_NO,
        ORIGINAL_ISSUE_DATE,
        ENDORSEMENT_RESTRICTION,
        FARE,
        FARE_CURRENCY_CODE,
        EQUIVALENT_FARE_PAID,
        EQUIVALENT_FARE_CURRENCY_CODE,
        TOTAL_FARE,
        TOTAL_FARE_CURRENCY,
        PASSENGER_NAME,
        TICKET_SOURCE,
        OFFICE_ID,
        NATION_FLAG,
        GDS_CD,
        CREATE_DATE,
        PRORATED_FLAG,
        PRORATED_DATE,
        EXCEPTION_FLAG,
        MANUAL_OPERATION_FLAG,
        IT_FLAG,
        UPDATE_DATE,
        UPDATE_ID,
        FARE_CALCULATION_AREA,
        FF_NO,
        PAX_TYPE,
        PAX_QTY
        )
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT
            #{documentCarrierIataNo, jdbcType=VARCHAR},
            #{documentNo, jdbcType=VARCHAR},
            #{documentType, jdbcType=VARCHAR},
            #{issueDate, jdbcType=DATE},
            #{agentIataNo, jdbcType=DECIMAL},
            #{transactionCode, jdbcType=VARCHAR},
            #{couponUseIndicator, jdbcType=VARCHAR},
            #{conjunctionTicketIndicator, jdbcType=VARCHAR},
            #{conjunctionTicketString, jdbcType=VARCHAR},
            #{cnjCurrent, jdbcType=DECIMAL},
            #{cnjTotal, jdbcType=DECIMAL},
            #{firstTicketNo, jdbcType=VARCHAR},
            #{tourCode, jdbcType=VARCHAR},
            #{internationalSaleIndicator, jdbcType=VARCHAR},
            #{commissionRate, jdbcType=DECIMAL},
            #{commissionAmount, jdbcType=DECIMAL},
            #{originalIssueDocumentNo, jdbcType=VARCHAR},
            #{originalIssueDate, jdbcType=DATE},
            #{endorsementRestriction, jdbcType=VARCHAR},
            #{fare, jdbcType=DECIMAL},
            #{fareCurrencyCode, jdbcType=VARCHAR},
            #{equivalentFarePaid, jdbcType=DECIMAL},
            #{equivalentFareCurrencyCode, jdbcType=VARCHAR},
            #{totalFare, jdbcType=DECIMAL},
            #{totalFareCurrency, jdbcType=VARCHAR},
            #{passengerName, jdbcType=VARCHAR},
            #{ticketSource, jdbcType=VARCHAR},
            #{officeId, jdbcType=VARCHAR},
            #{nationFlag, jdbcType=VARCHAR},
            #{gdsCd, jdbcType=VARCHAR},
            #{createDate, jdbcType=DATE},
            #{proratedFlag, jdbcType=VARCHAR},
            #{proratedDate, jdbcType=DATE},
            #{exceptionFlag, jdbcType=VARCHAR},
            #{manualOperationFlag, jdbcType=VARCHAR},
            #{itFlag, jdbcType=VARCHAR},
            #{updateDate, jdbcType=DATE},
            #{updateId, jdbcType=DECIMAL},
            #{fareCalculationArea, jdbcType=VARCHAR},
            #{ffNo, jdbcType=VARCHAR},
            #{paxType, jdbcType=VARCHAR},
            #{paxQty, jdbcType=DECIMAL}
        </foreach>
    </insert>
</mapper>